<div class="create-container">
    <h1 *ngIf="!editing">
        {{ "forms.create_movie" | translate }}
    </h1>
    <h1 *ngIf="editing">
        {{ "forms.edit_movie" | translate }}
    </h1>
      <div class="form">
        <form [formGroup]="myForm">
          <div class="form-group">
            <label>{{ "forms.name" | translate }}</label>
            <input id="name" type="text" class="form-control" formControlName="nombreMedicamento" />
            <span *ngIf="controlHasError('nombreMedicamento', 'required')">
              <strong>{{ "validation.required_field" | translate }}</strong>
            </span>
          </div>
          <div class="form-group">
            <label>{{ "forms.value" | translate }}</label>
            <input id="valor" type="text" class="form-control" formControlName="codigoMedicamento" />
            <span *ngIf="controlHasError('codigoMedicamento', 'required')">
              <strong>{{ "validation.required_field" | translate }}</strong>
            </span>
          </div>
          <button id="agregarMedicamento" class="btn btn-primary" (click)="store()">
            {{ "forms.save" | translate }}
          </button>
          <p> </p>
        </form>
      </div>
  </div>